<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67b872">  <td>21/05/02 20:06:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;IncidentVerified.launchBrowser()[pri:0, instance:testcases.IncidentVerified@7f9a81e8]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1547425104</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>21/05/02 20:06:51</td>   <td>17303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IncidentVerified.grclogin()[pri:1, instance:testcases.IncidentVerified@7f9a81e8]">grclogin</td> 
  <td>main@1547425104</td>   <td></td> </tr>
</table>
