<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e87285">  <td>21/05/02 21:13:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;IncidentVerified.launchBrowser()[pri:0, instance:testcases.IncidentVerified@86be70a]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648525677</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>21/05/02 21:13:28</td>   <td>16581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IncidentVerified.grclogin()[pri:1, instance:testcases.IncidentVerified@86be70a]">grclogin</td> 
  <td>main@648525677</td>   <td></td> </tr>
</table>
